*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.show {
  display: flex !important;
}

.hide {
  display: none !important;
}

.error {
  display: inline-block;
  font-size: 1.4rem;
  color: hsl(0, 100%, 66%);
  text-transform: initial;
}

.error-cvc {
  margin-left: 12em;
}

.border-error {
  -o-border-image: none !important;
     border-image: none !important;
  border: solid 1px hsl(0, 100%, 66%) !important;
}

.main {
  height: 100%;
}
.main .card {
  background-color: hsl(0, 0%, 100%);
  min-width: 375px;
}
.main .card__header {
  background-image: url(../images/bg-main-mobile.png);
  width: 100%;
  height: auto;
  max-height: 240px;
  z-index: 0;
}
.main .card__front {
  position: relative;
  top: -2em;
  left: 1em;
  display: inline-block;
  width: 285px;
  height: 160px;
  padding: 1.2em;
  color: hsl(270, 3%, 87%);
  border-radius: 8px;
  background-image: url(../images/bg-card-front.png);
  z-index: 11;
}
.main .card__front-img {
  width: 55px;
  margin-bottom: 2em;
}
.main .card__front-number {
  width: 100%;
  letter-spacing: 2px;
  font-size: 1.8rem;
}
.main .card__front-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2em;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.main .card__back {
  position: relative;
  top: 2.5em;
  left: 4.8em;
  max-width: 285px;
  max-height: 160px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 10;
}
.main .card__back-img {
  width: 100%;
  height: auto;
}
.main .card__back-cvc {
  position: absolute;
  top: 5.8em;
  left: 18.5em;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: hsl(0, 0%, 100%);
}
.main .card__info {
  padding: 1.3em;
  padding-bottom: 2.5em;
  margin-top: 5em;
  width: 100%;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}
.main .card__form {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  gap: 1.5em;
}
.main .card__form-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;
  font-size: inherit;
}
.main .card__form-info-label {
  letter-spacing: 1px;
}
.main .card__form-info-label--cvc {
  margin-left: 1em;
}
.main .card__form-btn {
  padding: 1em;
  max-width: 330px;
  font-size: inherit;
  color: hsl(270, 3%, 87%);
  background: hsl(278, 68%, 11%);
  border: 1px solid transparent;
  border-radius: 8px;
  letter-spacing: 1px;
  cursor: pointer;
}
.main .card__form-btn:hover {
  background-color: hsla(278, 68%, 11%, 0.9);
}
.main .card__input {
  padding: 1em;
  font-size: inherit;
  border-radius: 8px;
  border: solid 1px hsl(270, 3%, 87%);
  max-width: 330px;
}
.main .card__input--month {
  width: 5em;
  margin-right: 0.3em;
  margin-bottom: 0.2em;
}
.main .card__input--year {
  width: 5em;
  margin-right: 0.3em;
  margin-bottom: 0.2em;
}
.main .card__input--cvc {
  width: 9.5em;
  margin-bottom: 0.2em;
}
.main .card__input:focus {
  outline: none;
  border-radius: 8px;
  border: solid 2px rgb(100, 72, 254);
}
.main .confirm {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.3em;
  padding-bottom: 2.5em;
  margin-top: 6em;
}
.main .confirm__img {
  margin-bottom: 3em;
}
.main .confirm__title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
}
.main .confirm__text {
  color: hsl(279, 6%, 55%);
  margin-bottom: 2.5em;
  font-size: 1.8rem;
}
.main .confirm__btn {
  width: 100%;
  max-width: 330px;
  padding: 1em;
  font-size: inherit;
  letter-spacing: 2px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: hsl(278, 68%, 11%);
  color: hsl(270, 3%, 87%);
  transition: background-color 0.3s;
  cursor: pointer;
}
.main .confirm__btn:hover {
  background-color: hsla(278, 68%, 11%, 0.9);
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 576px) {
  .main .card__front {
    left: 7em;
  }
  .main .card__back {
    left: 11em;
  }
}
@media (min-width: 768px) {
  .main .card__front {
    left: 13em;
  }
  .main .card__back {
    left: 17em;
  }
}
@media (min-width: 992px) {
  .main .card__front {
    left: 20em;
  }
  .main .card__back {
    left: 24em;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    margin: 0 auto 0 0;
    width: 100%;
    max-width: 1200px;
  }
  .main .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .main .card__header {
    min-height: 100vh;
    max-height: 100vh;
    max-width: 25em;
    background-image: url(../images/bg-main-desktop.png);
  }
  .main .card__front {
    top: -3em;
    left: 9em;
    width: 370px;
    height: 200px;
    padding: 2em;
  }
  .main .card__front-img {
    width: 65px;
    margin-bottom: 2.7em;
  }
  .main .card__front-number {
    letter-spacing: 3px;
    font-size: 2.2rem;
  }
  .main .card__front-info {
    margin-top: 1.5em;
    letter-spacing: 2px;
  }
  .main .card__back {
    top: 25em;
    left: 13.5em;
    max-width: 370px;
    max-height: 200px;
  }
  .main .card__back-cvc {
    top: 6.5em;
    left: 20.5em;
    font-size: 1.4rem;
  }
  .main .card__info {
    justify-content: center;
    align-items: center;
    max-width: 450px;
    padding: 0;
    margin: 0 auto 0 20em;
  }
  .main .card__form-btn {
    max-width: 100%;
  }
  .main .card__input {
    max-width: 450px;
    letter-spacing: 2px;
  }
  .main .card__input--cvc {
    width: 17em;
  }
  .main .confirm {
    padding: 0;
    margin: 0 auto 0 18em;
  }
  .main .confirm__img {
    margin-bottom: 4em;
  }
  .main .confirm__title {
    font-size: 4rem;
  }
  .main .confirm__text {
    margin-bottom: 3.5em;
    font-size: 2.2rem;
  }
  .main .confirm__btn {
    max-width: 375px;
  }
}/*# sourceMappingURL=style.css.map */